body {
  background-image: url(Back_dot.png);
  background-attachment:local;
  background-position: top;
  background-size: 100% 400px;
  background-repeat: no-repeat;
  font-family: lato, sans-serif;;
  background-color: #290832;
  margin: 0px;
}

div.nav-top {
  float: right;
  position: relative;
  margin-top: 2%;
  margin-right: 10%;
}

div.nav-top ul {
  float: right;
  //margin-right: 5px;
}

ul li {
  border-bottom-style: inset;
  border-bottom-color: bisque;
  /* border-collapse: collapse; */
  padding-bottom: 4px;
  list-style-type: none;
  margin-left: 30px;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

ul li:hover {
  border-bottom-color: white;
  color: rgba(255, 255, 255,1);
  /* color: brown; */
}

li {
  float: right;
  color: bisque;
  font-size: medium;
}

div.banner {
  width: 100%;
  height: 400px;
}
div.banner>h1,h2 {
  display: none;
}

.wave {
  float: left;
  position: relative;
  top: 123px;
  width: 40%;
  overflow: hidden;
}

div#logo {
  float: left;
  width: 60%;
  height: 50%
}

@keyframes upside
{
0%   {bottom: -30px;}
25%  {bottom: -10px;}
50%  {bottom:-5px;}
100% {bottom:0px;}
}

div#logo img {
    height: 250px;
    position: relative;
    right: 0px;
    float: right;
    animation: upside 1s;
}

div#submit {
    float: left;
    top: 47px;
    position: relative;
    left: -1%;
    background: #6e004a;
    padding: 10px 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 55px rgba(0,0,0, 0.8);
    color: azure;
    width: 70px;
    text-align: center;
    -webkit-transition-property: box-shadow, background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

div#submit:hover {
  box-shadow: 0px 0px 13px rgba(255,255,255, 0.8);
  background: #c4008c
}

div.clearfix {
  clear: both;
}

div.body {

}

div.footer {
  position: relative;
      bottom: 0%;
      width: 100%;
      color: white;
      /* background-color: rgba(0, 0, 0, 0.5); */
      left: 0px;
      text-align: right;
      /* padding-top: 5px; */
      padding-bottom: 1%;
  }

div.footer p {
  position: relative;
  right: 10%;
}

div#result {
  width: 80%;
  min-height: 300px;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  position: relative;
  left: 10%;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

div#line {
    position: absolute;
    top: 400px;
    width: 100%;
    /* margin-top: 66px; */
    box-shadow: 0px 0px 10px #000;
    height: 2px;
    background-color: #420658;
    display: block;
}

div.banner + div.clearfix {
  position: absolute;
  top:400px;
}
